:root {
    --main-text-color: #434455;
    --secondary-text-color: #2e2f42;
    --cta-main-color: #4d5ae5;
    --accent-color: #404bbf;
    --logo-first-color: #4d5ae5;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-text-color);
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
}

.logo {
    color: var(--logo-first-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.link {
    text-decoration: none;
}

.logo-second-word {
    color: var(--secondary-text-color);

}

.list {
    list-style: none;
}

.navigation-menu {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.navigation-menu:active {
    color: var(--accent-color);
}

.contact-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.contact-info:active {
    color: var(--accent-color);
}

.main-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.main-cta {
    background: var(--cta-main-color);
}

.main-cta:active {
    background: var(--accent-color);
}

.page-title {
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.category-title {
    color: var(--secondary-text-color);

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.filter-button {
    border: 1px solid #E7E9FC;
    background: #F4F4FD;
}

.filter-button:active {
    background: var(--accent-color);
}